### Challenge questions

Easy questions:

 1. How many total pings are in the Ocearch shark data?
 2. How many unique species of sharks are in the data set?
 3. What is the name, weight, and species of the heaviest shark(s)?
 4. When and where was the very first ping?
 5. Excluding results with 0 distance traveled: what's the minimum, average, and maximum travel distances?

### Load data

In [1]:
import pandas as pd
import datetime as dt
df = pd.read_csv('data/sharks_cleaned.csv')
df.shape

(65793, 12)

In [7]:
new_df = df[['name']]
deduped_df = new_df.drop_duplicates()
deduped_df.shape

(239, 1)

### Explore data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65793 entries, 0 to 65792
Data columns (total 12 columns):
active        65793 non-null int64
datetime      65793 non-null object
id            65793 non-null int64
latitude      65793 non-null float64
longitude     65793 non-null float64
name          65793 non-null object
gender        65647 non-null object
species       65793 non-null object
weight        60385 non-null float64
length        65220 non-null float64
tagDate       65793 non-null object
dist_total    65793 non-null float64
dtypes: float64(5), int64(2), object(5)
memory usage: 6.0+ MB

In [5]:
df.describe()

,active,id,latitude,longitude,weight,length,dist_total
count,65793.0,65793.000000,65793.000000,65793.000000,60385.000000,65220.000000,65793.000000
mean,1.0,119.909990,9.703767,-35.911564,971.543797,120.537649,12567.781934
std,0.0,91.296923,31.761692,59.129796,1724.847731,39.936945,12754.985808
min,1.0,3.000000,-45.624150,-103.968670,30.900000,35.000000,0.000000
25%,1.0,38.000000,-28.398860,-75.472510,200.000000,90.000000,3048.274000
50%,1.0,98.000000,27.954280,-68.398400,409.000000,115.000000,8177.352000
75%,1.0,202.000000,38.188230,20.976100,1337.000000,151.000000,17811.853000
max,1.0,326.000000,53.658430,155.854300,25000.000000,360.000000,46553.182000

In [6]:
df.head()

,active,datetime,id,latitude,longitude,name,gender,species,weight,length,tagDate,dist_total
0,1,2014-07-06 04:57:28,3,-34.606610,21.152440,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
1,1,2014-06-23 02:40:09,3,-34.787520,19.424790,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
2,1,2014-06-15 13:15:44,3,-34.424870,21.097540,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
3,1,2014-06-03 02:23:57,3,-34.704323,20.210134,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
4,1,2014-05-28 19:53:57,3,-34.655560,19.374590,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662

### Challenge Questions

#### Easy Questions
 1. How many total pings are in the Ocearch shark data?
 2. How many unique species of sharks are in the data set?
 3. What is the name, weight, and species of the heaviest shark(s)?
 4. When and where was the very first ping?
 5. Excluding results with 0 distance traveled: what's the minimum, average, and maximum travel distances?

##### Total pings
How many total pings are in the Ocearch shark data?

In [ ]:
65793

In [7]:
df.shape

(65793, 12)

##### Unique species
How many unique species of sharks are in the data set?

In [ ]:
9

In [15]:
set(list(df.species))

{'Blacktip Shark (Carcharhinus limbatus)',
 'Blue Shark (Prionace glauca)',
 'Bull Shark (Carcharhinus leucas)',
 'Hammerhead Shark (Sphyrna)',
 'Mako Shark (Isurus oxyrinchus)',
 'Silky Shark (Carcharhinus falciformis)',
 'Tiger Shark  (Galeocerdo cuvier)',
 'Whale Shark (Rhincodon Typus)',
 'White Shark (Carcharodon carcharias)'}

##### Heaviest shark(s)
What is the name, weight, and species of the heaviest shark(s)?

In [ ]:
Rocky Mazzanti, 25000, Whale Shark
Canyon, 25000, Whale Shark

In [25]:
nonullweights = df[~df.weight.isnull()]
sorteddf = nonullweights.sort_values(by='weight',ascending=False)
maxweight = sorteddf.iloc[0].weight

In [37]:
heaviest = df[df.weight == maxweight]
new_df = heaviest[['name', 'weight','species']]
new_df.drop_duplicates()

                 name   weight                        species
56469  Rocky Mazzanti  25000.0  Whale Shark (Rhincodon Typus)
59292          Canyon  25000.0  Whale Shark (Rhincodon Typus)

##### First ping
When and where was the very first ping?

In [ ]:
9th March, 2012, in South Africa

In [1]:
def parse_timestamp(s):
    frmt = '%Y-%m-%d %H:%M:%S'
    return dt.datetime.strptime(s, frmt)
df['sortabledt'] = [parse_timestamp(dt_str) for dt_str in df.datetime]
df.sort_values(by='sortabledt')

NameError: name 'df' is not defined

##### Distance travelled
Excluding results with 0 distance traveled: what's the minimum, average, and maximum travel distances?

In [ ]:
8.127000, 12569.310280, 46553.182000

In [49]:
nono = df[df.dist_total > 0]
nono.describe()

,active,id,latitude,longitude,weight,length,dist_total
count,65785.0,65785.000000,65785.000000,65785.000000,60381.000000,65215.000000,65785.000000
mean,1.0,119.904553,9.703155,-35.906699,971.599195,120.541080,12569.310280
std,0.0,91.298791,31.762772,59.131388,1724.891320,39.936233,12755.008316
min,1.0,3.000000,-45.624150,-103.968670,30.900000,35.000000,8.127000
25%,1.0,38.000000,-28.399590,-75.466800,200.000000,90.000000,3048.274000
50%,1.0,98.000000,27.954410,-68.394170,409.000000,115.000000,8177.352000
75%,1.0,202.000000,38.188070,20.977430,1337.000000,151.000000,17811.853000
max,1.0,326.000000,53.658430,155.854300,25000.000000,360.000000,46553.182000